body {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  justify-content: center;
  width: 100vw;
  margin: 0;
  font-family: sans-serif;
}

#banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #002E60;
  padding: 0;
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  height: 100px;
  margin: auto;
  color: white;
}

#courtforms {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

.courtforms {
  width: 100%;
  padding: 20px 80px 0px 80px;
}

/* Container for flexboxes */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create four equal columns */
.column {
  flex: 25%;
  padding: 60px;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .column {
    flex: 50%;
  }
}

.hidden {
  visibility: hidden;
}

#refresh {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  height:100%;
  opacity: 0.95;
  justify-content: center;
  backdrop-filter: blur(5px);
}

#still-there {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  height:100%;
  opacity: 0.95;
  justify-content: center;
  backdrop-filter: blur(5px);
}

#log-back-in {
  background-color: #002E60;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

#start-new-session {
  background-color: #6699ff;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

#wiggle {
  background-color: #002E60;
  color: white;
  padding: 5px 15px 5px 15px;
}

#readme {
  text-align: left;
}

#form {
  background-color: #fffccc;
  padding: 20px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #002E60;
  color: white;
  text-align: center;

}
